# Cron job to git clone/pull a repo and then run locally
{{ schedule }} {{ cron_user }} /usr/local/bin/ansible/bin/ansible-pull {{ playbook }} -d {{ workdir }} -U {{ repo_url }} -i {{ inventory }} >>{{ logfile }} 2>&1
