#!/bin/bash
. /usr/local/bin/set-dsp-ansible-env.sh
echo "using ansible branch ${ANSIBLE_BRANCH} from ${ANSIBLE_REPO}"
echo "to set an override, set the ANSIBLE_BRANCH or ANSIBLE_REPO variables in ${LOCAL_OVERRIDES}"
echo "To run ansible manually, execute /usr/local/bin/dsp-ansible-manual.sh"
